@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/LocalFiles/1620746438796.jfif" class="rounded mx-auto d-block" alt="..." style="height:250px;max-width:250px;">
</div>
