@{
    ViewData["Title"] = "Home Page";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items" style="border-style:none!important;text-decoration:underline;">
                    <img src="/LocalFiles/1620746438796.jfif" class="rounded mx-auto d-block fluid" alt="..." style="height:250px;max-width:250px;">
                    <p class="h1 text-center" style="font-size:30px!important;font-weight:bold;">Rentals Million And Up Weelo</p>
                </div>
            </div>
        </div>
    </div>
</div>
